@import "tailwindcss";

@theme {
    --color-cerulean: #227c9d;
    --color-accent-blue: #1943D3;
    --color-ocean-mist: #17c3b2;
    --color-apricot: #ffcb77;
    --color-floral-white: #fef9ef;
    --color-grapefruit: #fe6d73;
}